# This sets the default behaviour, overriding core.autocrlf
* text=auto eol=lf

# All source files should have unix line-endings in the repository,
# but convert to native line-endings on checkout

*.{json,js,jsx,ts,tsx} text

*.mjs text
*.cjs text
*.d.ts text
*.rst text
*.md text
*.txt text

# Keep the include header(s) with LFs to make sure it is uploaded,
# hashed etc with LF
*.{c++,cc,cpp,cppm,cxx,h,h++,hh,hpp,hxx,inl,ipp,ixx,tlh,tli} text

# Windows specific files should retain windows line-endings
*.{sln,[sS][lL][nN]} text eol=crlf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
*.{ps1,[pP][sS]1} text eol=crlf

# Keep executable scripts with LFs so they can be run after being
# checked out on Windows
*.py text eol=lf
test/*.js text eol=lf
CMakeLists.txt text eol=lf

# Keep the LICENCE file with LFs to make sure it is uploaded,
# hashed etc with LF
LICENCE eol=lf



# vcpkg
ports/** -linguist-detectable

# Declare files that will always have LF line endings on checkout.
scripts/ci.baseline.txt text eol=lf
